<div class="pt-4 pb-32">
  <%= form_with(model: @booking, local: true,  class: "space-y-4 p-6 bg-white shadow-lg rounded-lg max-w-lg mx-auto") do |form| %>
    <h1>Book <%= @world.title %></h1>
    <% if @booking.errors.any? %>
      <div class="alert alert-error">
        <ul>
          <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%# t.bigint "user_id", null: false
      t.bigint "world_id", null: false
      t.string "status"
      t.date "start_date"
      t.date "end_date"
      t.datetime "created_at", null: false
      t.datetime "updated_at", null: false
      t.index ["user_id"], name: "index_bookings_on_user_id"
      t.index ["world_id"], name: "index_bookings_on_world_id" %>

    <div>
      <h1>World owner</h1>
      <%= @world.user.first_name %> <%= @world.user.last_name %>
    </div>

<!-- -->
    <div>
      <h1>Availability</h1>
      <% if @booking.status %>
        <%= @booking.status %>
      <% else %>
        Pending
      <% end %>
    </div>

    <button type="button" popovertarget="cally-popover" 
            class="input input-border" 
            id="cally-trigger" 
            style="anchor-name:--cally-trigger">
      <%= @booking.start_date || "Pick a date" %>
    </button>

    <div popover id="cally-popover" class="dropdown bg-base-100 rounded-box shadow-lg" style="position-anchor:--cally-trigger">
      <calendar-date class="cally bg-base-100 border border-base-300 shadow-lg rounded-box" onchange="document.getElementById('cally-trigger').innerText = this.value">
        <svg aria-label="Previous" class="fill-current size-4" slot="previous" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M15.75 19.5 8.25 12l7.5-7.5"></path>
        </svg>
        <svg aria-label="Next" class="fill-current size-4" slot="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
        </svg>
        <calendar-month></calendar-month>
      </calendar-date>
    </div>


    <fieldset class="fieldset">
      <%= form.label :place %>
      <%= form.text_field :place, class: "input input-bordered input-primary w-full" %>
      <small class="text-gray-500">Enter the world's location name</small>
    </fieldset>

    <fieldset class="fieldset">
      <%= form.label :price %>
      <%= form.number_field :price, class: "input input-bordered input-primary w-full" %>
      <small class="text-gray-500">Enter the price in EUR/USD</small>
    </fieldset>

    <fieldset class="fieldset">
      <%= form.label :description %>
      <%= form.number_field :description, class: "input input-bordered input-primary w-full" %>
      <small class="text-gray-500">Enter a nice description</small>
    </fieldset>

    <fieldset class="fieldset">
      <%= form.label :capacity %>
      <%= form.number_field :capacity, class: "input input-bordered input-primary w-full" %>
    </fieldset>

    <fieldset class="fieldset">
      <%= form.label :latitude %>
      <%= form.text_field :latitude, class: "input input-bordered input-primary w-full" %>
    </fieldset>

    <fieldset class="fieldset">
      <%= form.label :longitude %>
      <%= form.text_field :longitude, class: "input input-bordered input-primary w-full" %>
    </fieldset>

    <fieldset class="fieldset">
      <%= form.submit "Secure booking", class: "btn btn-soft" %>
    </fieldset>
  <% end %>
</div>