<div class="mt-4 mb-2 max-h-[80vh] overflow-y-auto">
  <div class="md:container md:mx-auto pb-4">
    <div class="card bg-base-100 w-96 shadow-sm">
      <figure>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
            <div id="world-information" class="py-3">
              <%= @booking.world.title %>
            </div>
          <div class="badge badge-secondary"><%= @booking.world.category %></div>
        </h2>
          <%= @booking.world.description %>
          <br>
          <div class="badge badge-info">
            <svg class="size-[1em]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="currentColor" stroke-linejoin="miter" stroke-linecap="butt"><circle cx="12" cy="12" r="10" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></circle><path d="m12,17v-5.5c0-.276-.224-.5-.5-.5h-1.5" fill="none" stroke="currentColor" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"></path><circle cx="12" cy="7.25" r="1.25" fill="currentColor" stroke-width="2"></circle></g></svg>
            <%= @booking.world.place%>
          </div>
        <div class="card-actions justify-end">
          <% @booking.world.tags.each do |tag| %>
            <div class="badge badge-soft badge-info"><%= tag.name %></div>
          <% end %>
        </div>
        <div class="divider divider-info"></div>
          <div id="rentee-information" class="py-3">
          <h1><strong>Rentee information</strong></h1>
          <%= @booking.user.first_name %>
          <%= @booking.user.last_name %>
        </div>
        <div id="renter-information" class="py-3">
          <h1><strong>Renter information</strong></h1>
          <%= @world.user.first_name %>
          <%= @world.user.last_name %>
        </div>
        <div id="booking-information" class="py-3">
          <h1><strong>Your booking information</strong></h1>
          <div class="grid grid-cols-2 gap-4">
            <div>Total price <%= @booking.total_price %></div>
            <div>Capacity <%= @booking.world.capacity %></div>
            <div>Beginning of your journey <%= @booking.start_date %></div>
            <div>End of your adventure <%= @booking.end_date %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
