<div class="divider"></div>
<% if @all_requests.empty? %>
  No bookings available
<% else %>
  <% @all_requests.each do |request| %>
    <div class="card <%= request.user == current_user ? "bg-primary" : "bg-neutral" %> text-neutral-content w-96 mt-4">
      <%= link_to booking_path(request.id) do %>
        <div class="card-body items-center text-center">
          <h2 class="card-title">Booking #<%= request.id %></h2>
          <p>World: <%= request.world.title %></p>
          <p>Renter: <%= request.user.full_name %></p>
          <p>Owner: <%= request.world.user.full_name %></p>
          <p>Reservation dates: from <%= request.start_date.strftime("%d/%m/%Y") %> to <%= request.end_date.strftime("%d/%m/%Y") %></p>
          <p>Price: <%= request.total_price %> €</p>
          <div class="card-actions justify-end">
            Status: <button class="badge badge-info"><%= request.status %></button>
          </div>
          <% unless request.user == current_user %>
            <div class="card-actions justify-end">
              <%= button_to "Accept", accept_booking_path(request.id), class: "btn btn-primary" %>
              <%= button_to "Decline", cancel_booking_path(request), class: "btn btn-ghost" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
