<div class="card shadow border border-base-200" id="host-details">
  <div class="card-body">
    <h3 class="text-3xl font-bold text-center text-primary">Host Information</h3>
    <div class="divider divider-primary my-0"></div>
    <p class="text-base-content/80 leading-relaxed"><%= @world.user.first_name %> <%= @world.user.last_name %></p>
    <p class="text-base-content/80 leading-relaxed"><%= @world.user.user_description %></p>
    <p class="text-base-content/80 leading-relaxed"><%= @world.user.address %></p>
    <p class="text-base-content/80 leading-relaxed"><%= @world.user.phone %></p>
  </div>
</div>
