<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="card w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <h1 class="card-title text-3xl justify-center mb-4">
          <i class="fa-solid fa-user"></i>
          Login
        </h1>
        <div class="divider"></div>
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text pb-2">Email</span>
            </div>
            <%= f.email_field :email, 
                autofocus: true, 
                autocomplete: "email", 
                class: "input input-bordered w-full",
                placeholder: "Enter your email" %>
          </label>
          
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text py-2">Password</span>
            </div>
            <%= f.password_field :password, 
                autocomplete: "current-password", 
                class: "input input-bordered w-full",
                placeholder: "Enter your password" %>
          </label>

          <% if devise_mapping.rememberable? %>
            <div class="form-control mt-4">
              <label class="label cursor-pointer justify-start gap-3">
                <%= f.check_box :remember_me, class: "checkbox checkbox-primary" %>
                <span class="label-text">Remember me</span>
              </label>
            </div>
          <% end %>
          
          <div class="form-control mt-6">
            <%= f.submit "Log in", class: "btn btn-primary w-full" %>
          </div>
        <% end %>
        
        <div class="text-center space-y-2">
          
          <div class="divider">OR</div>
          
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline btn-secondary w-full" %>
        </div>
          <%# <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>